# Lab | Data Aggregation and Filtering

Objective: Use Python programming techniques to filter and order data subsets, group data by one or more variables, and use aggregation functions to obtain insights, and derive meaningful conclusions from the data.

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing first data cleaning, formatting, and structuring.

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by using the functions you developed in previous labs, or by reading the clean dataset you saved in the last lab `data structuring and combining`.

Then, answer the following questions:

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the median customer lifetime value by education level and gender.

5. Find the maximum, minimum, and average number of open complaints by state and policy type.

6. The marketing team wants to analyze the number of policies sold by state and month.

Present the data in a table where the months are arranged as columns and the states are arranged as rows.

7. Display a new DataFrame that contains the number of policies sold by month by state for the top 3 states with the highest number of policies sold.

*Hint:* 
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

8. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [3]:
# your code goes here
import pandas as pd 

url = ' https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

# df.columns

df = df.drop('unnamed:_0', axis=1)
change = {
    'state': 'unknown',
    'response': 'unknown',
    'months_since_last_claim': 0,
    'number_of_open_complaints': 0,
    'vehicle_class': 'unknown',
    'vehicle_size': 'unknown',
    'vehicle_type': 'B',
}

df = df.fillna(value=change)


df = df.drop_duplicates(keep='first')


df = df.drop_duplicates(subset='customer', keep='first')

df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,B
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,B
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,B
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [5]:
# 1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

df1 = df[df['total_claim_amount'] > 1000]

df1 = df1[df1['response'] == 'Yes']

df1.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,B
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A

In [15]:
# 2. Analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign.

df2 = df[df['response'] == 'Yes']

df2 = df2.groupby(['policy_type', 'gender'])['total_claim_amount'].mean()

df2 = df2.reset_index()

df2

      policy_type gender  total_claim_amount
0  Corporate Auto      F          431.835494
1  Corporate Auto      M          410.032861
2   Personal Auto      F          453.143064
3   Personal Auto      M          456.083128
4    Special Auto      F          460.360832
5    Special Auto      M          414.799291

In [16]:
# 3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.


df3 = df.groupby('state').size()

df3 = df3[df3> 500]

df3

state
Arizona       1655
California    3035
Nevada         863
Oregon        2517
Washington     774
dtype: int64

In [20]:
# 4. Find the median customer lifetime value by education level and gender.

df4 = df.groupby(['education', 'gender'])['customer_lifetime_value'].median()

df4

education             gender
Bachelor              F         5678.050167
                      M         5555.830205
College               F         5621.789489
                      M         5989.773931
Doctor                F         5332.462694
                      M         5620.587184
High School or Below  F         6044.020038
                      M         6176.700392
Master                F         5801.128252
                      M         5617.956917
Name: customer_lifetime_value, dtype: float64

In [23]:
# 5. Find the maximum, minimum, and average number of open complaints by state and policy type.

df5 = df.groupby(['state', 'policy_type'])['number_of_open_complaints'].agg(['max', 'min', 'mean'])

df5

                           max  min      mean
state      policy_type
Arizona    Corporate Auto  5.0  0.0  0.377709
           Personal Auto   5.0  0.0  0.382657
           Special Auto    3.0  0.0  0.253333
California Corporate Auto  4.0  0.0  0.303244
           Personal Auto   5.0  0.0  0.384303
           Special Auto    5.0  0.0  0.431193
Nevada     Corporate Auto  5.0  0.0  0.442708
           Personal Auto   5.0  0.0  0.399687
           Special Auto    5.0  0.0  0.545455
Oregon     Corporate Auto  4.0  0.0  0.338462
           Personal Auto   5.0  0.0  0.359125
           Special Auto    5.0  0.0  0.308943
Washington Corporate Auto  5.0  0.0  0.509677
           Personal Auto   5.0  0.0  0.376271
           Special Auto    4.0  0.0  0.551724
unknown    Corporate Auto  3.0  0.0  0.173913
           Personal Auto   5.0  0.0  0.391509
           Special Auto    5.0  0.0  0.888889

In [32]:
# 6. The marketing team wants to analyze the number of policies sold by state and month.

# Present the data in a table where the months are arranged as columns and the states are arranged as rows.

import pandas as pd

df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

df['effective_month'] = df['effective_to_date'].dt.month.map({1: 'January', 2: 'February'})

df6 = df.pivot_table(index='state', columns='effective_month', values='policy_type', aggfunc='count', fill_value=0)

df6

effective_month  February  January
state
Arizona               777      878
California           1401     1634
Nevada                377      486
Oregon               1163     1354
Washington            371      403
unknown               147      143